.modalContent {
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .modalHeader {
    border-bottom: none;
  }
  
  .modalTitle {
    font-size: 24px;
    color: #343a40;
  }
  
  .modalBody {
    padding: 20px;
  }
  
  .modalFooter {
    border-top: none;
  }
  
  .alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 300px;
  }
  
  .confirmationModal {
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .confirmationModalHeader {
    border-bottom: none;
  }
  
  .confirmationModalTitle {
    font-size: 20px;
    color: #343a40;
  }
  
  .confirmationModalBody {
    padding: 20px;
  }
  
  .confirmationModalFooter {
    border-top: none;
  }