/* BeepCardComponent.module.css */

.beepCard {
  background-color: #434b6e;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  min-height: 200px;
  height: 10%;
}

.beepCard:hover {
  transform: scale(1.05);
}

.cardBody {
  overflow: hidden;
  /* mask-image: linear-gradient(180deg, #000 60%, transparent); */
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
}

.deleteIcon {
  font-size: 24px;
  color: #ff9b9b;
  cursor: pointer;
}

.cardText {
  font-size: 16px;
  color: #ffffff;
}

.cardFooter {
  font-size: 14px;
  color: #ebebeb;
}

/* Add the following styles to your global styles or App.css */

.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4px;
}

.flexCenterLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockCenterLoading {
  text-align: center;
}

.textCenter {
  text-align: center;
}

.container-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.beepCardListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.beepCardListItem:hover {
  background-color: #e2e6ea;
}

.beepCardDetails {
  display: flex;
  flex-direction: column;
}

.beepCardID {
  font-weight: bold;
}

.customButton {
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 10px;
  transition: transform 0.5s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.customButton:hover {
  transform: scale(1.05);
}

.pagination {
  margin-left: auto;
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  align-items: center;
}

.flexRowActive {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.flexRowInactive {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.greenCircle,
.redCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.greenCircle {
  background-color: green;
}

.redCircle {
  background-color: red;
}

.lightRedIcon {
  color: lightcoral; /* Change to your desired light red color */
}