body {
  margin: 0;
  background-color: #f8f8f8; /* Set a light background color */
  color: #333; /* Set default text color */
  font-family: 'Roboto', Arial, sans-serif; /* Use a popular sans-serif font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}